* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: #fff;
    font-family: Roboto, sans-serif;
    background-color: rgb(52, 35, 128);
}

h1, h2 {
    text-align: center;
    margin: 20px 0;
}

.listado-tareas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Lista de tareas */
.lista-tareas-principal {
    width: 600px;
    min-height: 500px;
    background-color: rgb(0, 109, 143);
    padding: 25px;
    margin: 10px;
    justify-content: center;
    border-radius: 26px;
}