.formulario-tarea {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.input-tarea {
    width: 350px;
    font-size: 18px;
    padding: 14px 22px 14px 16px;
    border-radius: 4px;
    margin: 4px 6px;
    outline: none;
}

/* Botón agregar tarea */
.boton-tarea {
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: #26075f;
    color: #fff;
}